<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title><%=user.firstName%> <%=user.lastName%>'s Page</title>
  </head>
  <body>
    <div class="centerText">

      <h3 class="pageHeader">Posts by <%=user.firstName%></h3>
      <ul>
        <% for (let i = 0; i < user.posts.length; i++) { %>
          <li><a href="/posts/<%=user.posts[i]._id%>"><%=user.posts[i].title%></a> <small>(<%=user.posts[i].feeling%>)</small></li>
        <% } %>
      </ul>

      <a href="/users">All Users</a>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
