<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title>View Posts</title>
  </head>
  <body>
    <div class="centerText">

      <h3 class="pageHeader">iFelt's Posts</h3>
      <p class="quote">"Feelings that come back are feelings that never went away."</p>
      <br/>

        <ul>
          <% for (let i = posts.length - 1; i >= 0; i--) { %>
            <li><a href="/posts/<%=posts[i]._id%>"><%=posts[i].title%></a> by: <%=posts[i].authorFirstName%> <%=posts[i].authorLastName%>   <small>(<%=posts[i].feeling%>)</small></li>
          <% } %>
        </ul>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
