<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <div class="centerText">
      <h3 class="pageHeader">Write About Your Feeling</h1>
        <p class="quote">"The more room you give yourself to express your true thoughts and feelings, the more room there is for your wisdom to emerge."</p>
        <p class="quoter">Marianne Williamson</p>
    </div>

    <div class="newPostForm">

      <form action="/posts/<%=user._id%>/<%=user.firstName%>/<%=user.lastName%>/<%=user.username%>" method="POST">

        <div class="newPostTitle">
          Title: <input type="text" name="title"><br/>
        </div>

        <div class="newPostFeeling">
          Feeling:
          <select name="feeling">
            <% for (let i = 0; i < feelings.length; i++) { %>
              <option value="<%=feelings[i].feeling%>"><%=feelings[i].feeling%></option>
            <% } %></select> <a href="/feelings/new">Can't find how you're feeling?  Create a new feeling.</a>
          </div>

          <textarea name="postBody" class="newPostText" placeholder='Express yourself. Start with "I felt"...'></textarea><br/>

          <input type="submit" value="Create Post"/>
        </form>

      </div>
      <div class="centerText">
        <a href="/home/<%=user._id%>">Return Home</a>
      </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
