<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/nav.ejs %>
    <% include ../../partials/head.ejs %>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>

    <h1>New Post Page</h1>

    <form action="/posts/<%=user._id%>/<%=user.firstName%>/<%=user.lastName%>/<%=user.username%>" method="POST">
      Post Title: <input type="text" name="title"><br/>
      Feeling:
      <select name="feeling">
        <% for (let i = 0; i < feelings.length; i++) { %>
          <option value="<%=feelings[i].feeling%>"><%=feelings[i].feeling%></option>
        <% } %></select> <a href="/feelings/new">Can't find how you're feeling?  Create a new feeling.</a>

        <br/>
        Post body: <br/>
        <textarea name="postBody"></textarea><br/>

        <input type="submit" value="Create Post"></input>
    </form>

    <a href="/posts">Back to Posts</a>
  </body>
</html>
